{% extends "base.html" %}
<!-- Meta title -->
{% block title %} Home Page Title {% endblock title %}
<!-- Meta Description -->
{% block description %} Home Page Description {% endblock description %}

<!-- Sidebar Include -->
{% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
<!-- Slider Include -->
{% block slider %} {% include 'slider.html' %} {% endblock slider %}
<!-- Content Include -->
{% block body %} {% include 'content.html' %} {% endblock body %}
<!-- Footer Include -->
{% block footer %} {% include 'footer.html' %} {% endblock footer %}